.page-modalcon{
.note{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
  color:#000000;
}
.card .note{
  font-size:1.8rem;
}
.item-md h2 { 
font-size:2rem;
}
.toolbar-background-md{
	background:#034594;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default
{
	color:#ffffff;
}
.toolbar-title-md
{
	color:#ffffff;
}
}