page-event-detail {

    .toolbar-background-md{
        background:#034594;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default
    {
        color:#ffffff;
    }
    .toolbar-title-md
    {
        color:#ffffff;
    }
}
