page-business {
.button-round-md{
	width:10rem;
	height:10rem;
}
.toolbar-background-md{
	background:#034594;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default
{
	color:#ffffff;
}
.toolbar-title-md
{
	color:#ffffff;
}
}
